/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** End CSS Reset ********/
/********* Page Setup ********/
:root {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    color: #fff;;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.page-container {
    align-items: start;
    display: grid;
    grid-template-areas:
        "header"
        "main-content";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    justify-items: center;
    width: 100%;
}

/******** Header ********/
.header {
    background: #485665;
    border-bottom: 4px solid #c6419a;
    display: grid;
    grid-area: header;
    height: 100%;
    font-size: 50px;
    padding: 2.5%;
    place-items: center;
    width: 100%;
}

.header > h1 {
    color: #22aaa1;
}

.header > h2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

/******** Main Content ********/
.main-content {
    background: #262e36;
    display: grid;
    grid-area: main-content;
    grid-template-areas: 
        "scoreboard"
        "move-buttons"
        "move-history";
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 5fr 3fr;
    height: 100%;
    place-items: center;
    width: 100%;
}

/******** Scoreboard ********/
.scoreboard {
    display: grid;
    font-size: 30px;
    grid-template-areas: 
        "outcome-message    outcome-message"
        "player-score       computer-score";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    place-items: center;
    width: 100%;
}

.outcome-message {
    grid-area: outcome-message;
}

.player-score {
    grid-area: player-score;
    justify-self: end;
    margin-right: 50px;
}

.computer-score {
    grid-area: computer-score;
    justify-self: start;
}

.player-score,
.computer-score {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "score"
        "move-image";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    place-items: center;
}

.move-image {
    height: 100px;
    width: 100px;
}

/******** Move Buttons ********/
.move-buttons {
    align-self: start;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    place-items: center;
}

.move-button {
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 6px;
    height: 200px;
    margin: 35px 0;
    width: 200px;
}

button {
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
}

button:hover {
    border-color: #c6419a;
    transform: scale(1.1);
}

.move-icon {
    height: 150px;
    width: 150px;
}

path {
    color: blue;
}

/******** Move History ********/
.move-history {
    align-items: start;
    display: grid;
    grid-template-areas:
        "player-moveset    computer-moveset";
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    height: 100%;
    justify-items: center;
    width: 100%;
}

ul {
    display: inline-block;
    font-size: 40px;
    text-align: center;
}

ul > h3 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    width: 250px;
}

li {
    font-size: 25px;
    margin: 5px;
}

.player-moveset {
    grid-area: player-moveset;
}

.computer-moveset {
    grid-area: computer-moveset;
}

